[submodule "2BIT/summer/IJA/Solitaire"]
	path = 2BIT/summer/IJA/Solitaire
	url = https://github.com/peter2141/Solitaire-IJA
[submodule "2BIT/winter/IFJ/ifj16"]
	path = 2BIT/winter/IFJ/ifj16
	url = https://github.com/asuba512/ifj16
[submodule "3BIT/winter/ILI/ili"]
	path = 3BIT/winter/ILI/ili
	url = https://github.com/europ/VUTBR-FIT-ILI
[submodule "3BIT/winter/IIS/iis"]
	path = 3BIT/winter/IIS/iis
	url = https://github.com/europ/VUTBR-FIT-IIS
[submodule "3BIT/winter/ISA/isa"]
	path = 3BIT/winter/ISA/isa
	url = https://github.com/europ/VUTBR-FIT-ISA
