[submodule "2BIT/summer/IJA/Solitaire"]
	path = 2BIT/summer/IJA/Solitaire
	url = https://github.com/peter2141/Solitaire-IJA
[submodule "2BIT/winter/IFJ/ifj16"]
	path = 2BIT/winter/IFJ/ifj16
	url = https://github.com/asuba512/ifj16
[submodule "3BIT/winter/ILI/ili"]
	path = 3BIT/winter/ILI/ili
	url = https://github.com/europ/VUTBR-FIT-ILI
[submodule "3BIT/winter/IIS/iis"]
	path = 3BIT/winter/IIS/iis
	url = https://github.com/europ/VUTBR-FIT-IIS
[submodule "3BIT/winter/ISA/isa"]
	path = 3BIT/winter/ISA/isa
	url = https://github.com/europ/VUTBR-FIT-ISA
[submodule "3BIT/winter/IMP/imp"]
	path = 3BIT/winter/IMP/imp
	url = https://github.com/europ/VUTBR-FIT-IMP
[submodule "3BIT/winter/ITU/itu"]
	path = 3BIT/winter/ITU/itu
	url = https://github.com/europ/VUTBR-FIT-ITU
[submodule "3BIT/winter/IMS/ims"]
	path = 3BIT/winter/IMS/ims
	url = https://github.com/europ/VUTBR-FIT-IMS
[submodule "3BIT/summer/IBT/text"]
	path = 3BIT/summer/IBT/text
	url = https://github.com/europ/VUTBR-FIT-BT
[submodule "3BIT/summer/IBT/impl"]
	path = 3BIT/summer/IBT/impl
	url = https://github.com/europ/VUTBR-FIT-BT-IMPL
