[submodule "2BIT/summer/IJA/Solitaire"]
	path = 2BIT/summer/IJA/Solitaire
	url = https://github.com/peter2141/Solitaire-IJA
[submodule "2BIT/winter/IFJ/ifj16"]
	path = 2BIT/winter/IFJ/ifj16
	url = https://github.com/asuba512/ifj16
